<!-- <nav class="navbar navbar-expand-xl navbar-default">

    <div class="navbar-header">
    
    
    <a class="btn" data-toggle="collapse" data-target="#myNavbar">
    <i class="fa fa-align-justify"></i> 
    </a>
    
    
    
      <button type="button" class="navbar-toggle"> </button>
      <a class="navbar-brand" href="/">Cycling Japan Tour 2020</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="quotes"><a href="/quotes">QUOTES</a></li>
        <li id="posts"><a href="/posts">POSTS</a></li>
        <li id="gallery"><a href="/gallery">GALLERY</a></li>
        <li id="route"><a href="/route">ROUTE</a></li>
        <li id="challenges"><a href="/challenges">CHALLENGES</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
        <li id="login"><a href="/login">LOGIN</a></li>
      </ul>
    </div>
 
</nav>
!-->

<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <a class="navbar-brand" href="/">Cycling Japan Tour 2020</a>
  <a class="navbar-toggler" data-toggle="collapse" data-target="#navBar">
	<i class="fa fa-align-justify"></i> 
  </a>   
  <div class="collapse navbar-collapse justify-content-stretch" id="navBar">
  
   <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts">POSTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/gallery">GALLERY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/route">ROUTE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/challenges">CHALLENGES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
			<li class="nav-item">
				<a class="nav-link" href="/contact">CONTACT US</a>
            </li>
            <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					SOCIAL
				</a>
				<div class="dropdown-menu" aria-labelledby="contactDropdown">
					<a class="nav-link" href="/contact">EMAIL</a>
					<a class="nav-link" href="/contact">TWITTER</a>
					<a class="nav-link" href="/contact">FACEBOOK</a>
					<a class="nav-link" href="/contact">YOUTUBE</a>
					<a class="nav-link" href="/contact">INSTAGRAM</a>
					<a href="/contact" style="color:#3b5998;">
						<i class="fab fa-facebook-square fa-3x"></i> 
					</a> 
					<a href="/contact" style="color:#55acee;">
						<i class="fab fa-twitter-square fa-3x"></i> 
					</a> 
					<a href="/contact" style="color:#e52d27;">
						<i class="fab fa-youtube fa-3x"></i> 
					</a> 
					<a href="/contact" style="color:#e52d27;">
						<i class="fab fa-instagram fa-3x"></i> 
					</a> 
                </div>
            </li>
            
            
            
            <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN</a>
            </li>
            
            <a href="/contact" style="color:#3b5998;">
				<i class="fab fa-facebook-square fa-3x"></i> 
			</a> 
            <a href="/contact" style="color:#55acee;">
				<i class="fab fa-twitter-square fa-3x"></i> 
			</a> 
            <a href="/contact" style="color:#e52d27;">
				<i class="fab fa-youtube fa-3x"></i> 
			</a> 
            <a href="/contact" style="color:#e52d27;">
				<i class="fab fa-instagram fa-3x"></i> 
			</a> 
        </ul>
  </div>
</nav>
