<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="banner-xs">
  <h1 class="banner-text-xs"><%= page %></h1>
</div>
<div class="container-fluid bg-dark">
<div class="container bg-light"> 
	<div class="row">
		Submit a challenge! (make collapse or popup)
		<form action="/" method="POST">
			<input type="text" placeholder="user_id" name="user_id">
			<input type="text" placeholder="title" name="title">
			<input type="text" placeholder="content" name="content">
			<input type="text" placeholder="video_url" name="video_url">
			<input type="text" placeholder="photo_collection" name="photo_collection">
			<input type="text" placeholder="datetime" name="datetime">
			<input type="text" placeholder="like_count" name="like_count">
			<!-- <button type="submit">Submit</button> !-->
		</form>
		List all challenges, two columns, todo and completed.
	</div>
</div>
</div>
</body>
<% include partials/script %>
</html>
