<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="banner">
  <h1 class="banner-text"><%= page %></h1>
</div>
<div class="container-fluid bg-dark">
<div class="container bg-light">  
      <img class="d-block w-100" src="1.png" alt="First slide">
      <img class="d-block w-100" src="2.jpg" alt="Second slide">
      <img class="d-block w-100" src="3.jpg" alt="Third slide">
</div>
</div>
</body>
<% include partials/script %>
</html>
