.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.active>a {
    color: #1abc9c !important;
}
.post-header {
    padding-left: 15px;
    padding-top: 5px;
    background-color: #e7e7e7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.post-body {
    height: 20vw;
}
.post-footer {
	text-align: end;
    font-size: 15px;
    height: 30px;
    background-color: #e7e7e7;
    padding-right: 15px;
    padding-top: 5px;
    border-bottom-right-radius: 10px;
}
.post-body-old {
    height: 20vw;
}
.post-footer-old {
	text-align: end;
    font-size: 1vw;
    height: 30px;
    background-color: #e7e7e7;
    padding-right: 15px;
    padding-top: 5px;
}




@media screen and (min-width: 1200px) {
.banner {
	height: 20vw;
}
.banner-text {
text-align:center; 
padding-top: 8vw;
}
}


@media screen and (max-width:1199px) {
.banner-text {
text-align:center;
margin-top:1%;
margin-bottom:1%;
}
}








@media screen and (max-width:917px) {
	.post {
		box-sizing: content-box;
		color: #1abc9c !important;
		margin-bottom: 10px;
	}
	.media-format {
	  background-color: #aaa;
	  width: 100%;
	  height: 200px;
	}
	.post-body {
    /* padding: 10px; */
    height: 100%; 
	}	

}

@media screen and (min-width:918px) and (max-width:1168px){
	.post {
		box-sizing: content-box;
		color: #1abc9c !important;
		margin-bottom: 10px;
		width: 48%;		
		margin-left: 10px;
		float: left;
	}
	.media-format {
	  background-color: #aaa;
	  width: 100%;
	  height: 200px;
	}
	.post-body {
    /* padding: 10px; */
    height: 100%; 
	}
}

@media screen and (min-width:1169px) and (max-width:1517px){
	.post {
		box-sizing: content-box;
		color: #1abc9c !important;
		margin-bottom: 10px;
		width: 31%;		
		margin-left: 10px;
		margin-right: 10px;
		float: left;
	}	
	.media-format {
	  background-color: #aaa;
	  width: 100%;
	  height: 200px;
	}
	.post-body {
    /* padding: 10px; */
    height: 100%; 
	}
}

@media screen and (min-width:1517px) and (max-width:2020px){
	.post {
		box-sizing: content-box;
		color: #1abc9c !important;
		margin-bottom: 10px;
		width: 32%;		
		margin-left: 10px;
		margin-right: 10px;
		float: left;
	}	
	.media-format {
	  background-color: #aaa;
	  width: 100%;
	  height: 200px;
	}
	.post-body {
    /* padding: 10px; */
    height: 100%; 
	}
}

@media screen and (min-width:2020px) and (max-width:3015px) {
	.post {
		box-sizing: content-box;
		color: #1abc9c !important;
		margin-bottom: 10px;
		width: 19%;		
		margin-left: 10px;
		margin-right: 10px;
		float: left;
	}	
	.media-format {
	  background-color: #aaa;
	  width: 100%;
	  height: 200px;
	}
	.post-body {
    /* padding: 10px; */
    height: 100%; 
	}
}

@media screen and (min-width:3016px) {
	.post {
		box-sizing: content-box;
		color: #1abc9c !important;
		margin-bottom: 10px;
		width: 16%;		
		margin-left: 10px;
		margin-right: 10px;
		float: left;
	}	
	.media-format {
	  background-color: #aaa;
	  width: 100%;
	  height: 200px;
	}
	.post-body {
    /* padding: 10px; */
    height: 100%; 
	}
}
